{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scsale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="https://about.instagram.com/">
            <img src="{% static 'img/logo.webp' %}" width="40" height="64">
          </a>
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a href="{% url 'index' %}" class="navbar-item">
              <i class="material-icons" style="font-size:30px;">home</i>
            </a>

            <a href="{% url 'newpost' %}" class="navbar-item">
              <i class="material-icons" style="font-size:30px;">add_circle</i>
          </a>
         
          <a href="{% url 'profile' request.user %}" class="navbar-item">
            <i class="material-icons" style="font-size:30px;">account_circle</i> 
            <strong>{{ request.user }}</strong>
          </a>
        </div>
        
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a href="{% url 'logout' %}" class="navbar-item">
                  <i class="material-icons" style="font-size:30px;">logout</i> 
                  Log Out
              </a>
              </div>
            </div>
          </div>
        </div>
    </nav>


<section class="section">
<div class="container">
    {% block content %}
    {% endblock %}

    {% block pagination %}
    {% endblock %}
    
</div>
</section>
  </body>
</html>