{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scsale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="https://bulma.io">
            <img src="{% static 'img/logo.webp' %}" width="64" height="64">
          </a>
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a href="{% url 'index' %}" class="navbar-item">
              Home
            </a>
      
            <a class="navbar-item">
              Explore
            </a>

            <a class="navbar-item">
                Profile
            </a>

            <a class="navbar-item">
                Log Out
            </a>

            <a href="{% url 'newpost' %}" class="navbar-item">
              New Post
          </a>
          </div>
      
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-primary">
                  <strong>Sign up</strong>
                </a>
                <a class="button is-light">
                  Log in
                </a>
              </div>
            </div>
          </div>
        </div>
    </nav>


<section class="section">
<div class="container">
    {% block content %}
    {% endblock %}

    {% block pagination %}
    {% endblock %}
    
</div>
</section>
  </body>
</html>