{% extends 'base.html' %}

{% load static %}

{% block content %}

<article class="media">

  <div class="media-left">
      <figure class="image is-256x256">
        {% if profile.picture %}
          <img class="is-rounded" src="{{profile.picture.url}}" alt="profile">
        {% else %}  
        <img class="is-rounded" src="{% if profile.picture %}{{ profile.picture.url }}{% else %} https://bulma.io/images/placeholders/256x256.png{% endif %}">
        {% endif %}
      </figure>
  </div>

   <div class="media-content">

    <div class="content">
      <h1 style="font-weight: bold;" class="title is-1">{% if profile.first_name %}{{ profile.first_name }} {{ profile.last_name }} {% endif %}</h1>
      <h2 class="subtitle is-3">@{{ profile.user }}</h2>

    {% comment %} {% if user.is_authenticated and user != profile.user %}
      <div class="media-right">
        {% if follow_status == True %}
          <a href="{% url 'follow' profile.user 0 %}" class="button is-danger">Unfollow</a>
        {% else %}
          <a href="{% url 'follow' profile.user 1 %}" class="button is-success">Follow</a>
        {% endif  %}
      </div>
    {% endif %} {% endcomment %}

    {% comment %} </div> {% endcomment %}


  <nav class="level is-mobile">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Posts</p>
      <p class="title">{{ posts_count }}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Following</p>
      <p class="title">{{ following_count }}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Followers</p>
      <p class="title">{{ followers_count }}</p>
    </div>
  </div>
</nav>

<p class="subtitle is-5">{% if profile.profile_info %}{{ profile.profile_info }}{% endif %}</p>

  <a href="{% url 'edit-profile' %}" class="button">Edit profile</a>

 </div>

</article>


</div>
</div>

    </div>
  </section>


{% endblock %}